[Unit]
Description=Unbound Exporter
After=network.target
AssertPathExists=/opt/unbound_exporter

[Install]
WantedBy=multi-user.target

[Service]
User=prometheus
Group=unbound
Type=simple
ExecStart=/opt/unbound_exporter/go/bin/unbound_exporter \
  -unbound.ca "" \
  -unbound.cert "" \
  -unbound.host "unix:///run/unbound.ctl"

