- name: Setup device specific configuration
  hosts: erebor
  remote_user: ansible
  become_method: doas

  tasks:
    - name: Delete the bootstrap user
      become: true
      ansible.builtin.user:
        name: bootstrap
        state: absent
        remove: true


    # I'm actuall unsure what amount of locking down is really needed
    # in FreeBSD's openssh default configuration. I think it's relatively
    # secure out of the box.
    # https://stackoverflow.com/a/50733168
    - name: Apply sshd_config settings
      become: true
      ansible.builtin.lineinfile:
        path: /etc/ssh/sshd_config
        # might be commented out, whitespace between key and value
        regexp: '^#?\s*{{ item.key }}\s'
        line: "{{ item.key }} {{ item.value }}"
        validate: '/usr/sbin/sshd -T -f %s'
      with_items:
        - key: UsePAM
          value: "no"
      notify: restart sshd


    - name: Install node_exporter for prometheus
      become: true
      community.general.pkgng:
        pkg:
          - node_exporter


    - name: Enable and start services
      become: true
      service:
        name: "{{ item }}"
        enabled: true
        state: started
      with_items:
        - node_exporter
        - powerd
        - ntpd

    # This driver enables reading of the CPU temperature probes
    - name: Enable amdtemp driver
      become: true
      community.general.sysrc:
        name: amdtemp_load
        state: present
        value: "YES"
        path: /boot/loader.conf


  handlers:
    - name: restart sshd
      become: true
      service:
        name: sshd
        state: restarted

# vim: ft=yaml.ansible
