- name: Setup device specific configuration
  hosts: erebor
  remote_user: ansible
  become_method: doas

  tasks:
    - name: Delete the bootstrap user
      become: true
      ansible.builtin.user:
        name: bootstrap
        state: absent
        remove: true


    - name: Install node_exporter for prometheus
      become: true
      community.general.pkgng:
        pkg:
          - node_exporter


    - name: Enable and start node_exporter service
      become: true
      service:
        name: node_exporter
        enabled: true
        state: started


    - name: Enable and start powerd service
      become: true
      service:
        name: powerd
        enabled: true
        state: started


    # This driver enables reading of the CPU temperature probes
    - name: Enable amdtemp driver
      become: true
      community.general.sysrc:
        name: amdtemp_load
        state: present
        value: "YES"
        path: /boot/loader.conf

# vim: ft=yaml.ansible
