- name: Setup device specific configuration
  hosts: merry

  tasks:
    # I am uncertain if this belongs in the bootstrap, or in some overarching
    # task file pertaining to networking among other things. I don't know if it
    # really matters that much, but might as well start pondering it now.
    #
    # Turns out this is set when I created the installer image. So this resource
    # might be redundant.
    - name: Set hostname
      become: true
      ansible.builtin.hostname:
        name: merry


    - name: Delete the bootstrap user
      become: true
      ansible.builtin.user:
        name: bootstrap
        state: absent
        remove: true


    - name: Create NFS read/write group
      become: true
      ansible.builtin.group:
        name: nfsrw
        state: present
        gid: 1980


    - name: Install mount dependencies
      become: true
      ansible.builtin.apt:
        pkg:
          - nfs-common


    - name: Mount music share from erebor
      become: true
      ansible.posix.mount:
        src: erebor.middle-earth.internal:/usr/local/var/mcap/store
        path: /mnt/mcap
        fstype: nfs
        state: mounted
        opts: auto,nofail,noatime,nolock,intr,tcp,actimeo=1800


    - name: Add ansible user to nfsrw group
      become: true
      ansible.builtin.user:
        name: ansible
        groups: nfsrw
        append: true


    # https://linuxhandbook.com/ssh-hardening-tips/
    - name: Harden the sshd Configuration
      become: true
      ansible.builtin.copy:
        dest: /etc/ssh/sshd_config.d/ssh_hardening.conf
        owner: root
        group: root
        mode: '0664'
        content: |
          PermitEmptyPasswords no
          PasswordAuthentication no
          PermitRootLogin no
          Protocol 2
          X11Forwarding no
      notify:
        - Reload sshd


    - name: Configure sysctls
      become: true
      ansible.posix.sysctl:
        name: "{{ item.name }}"
        value: "{{ item.value }}"
        state: present
      tags: [sysctls]
      loop:
        # https://linuxhint.com/understanding_vm_swappiness/
        - name: vm.swappiness
          value: '1'
        # Disable IPv6
        - name: net.ipv6.conf.all.disable_ipv6
          value: '1'
        - name: net.ipv6.conf.default.disable_ipv6
          value: '1'
        - name: net.ipv6.conf.lo.disable_ipv6
          value: '1'


    - name: Configure syslog forwarding
      tags: logging
      include_tasks:
        file: ../tasks/logging.yml
        apply:
          tags: logging


    - name: Install navidrome
      vars:
        navidrome_version: "0.58.5"
      tags: navidrome
      ansible.builtin.include_tasks:
        file: ../tasks/navidrome.yml
        apply:
          tags: navidrome


    - name: Configure power management
      ansible.builtin.include_tasks:
        file: ../tasks/power_management.yml


    - name: Install and dns, and network configuration
      ansible.builtin.include_tasks:
        file: ../tasks/unbound.yml


    - name: Install monitoring
      vars:
        node_exporter_version: "1.10.2"
      ansible.builtin.include_tasks:
        file: ../tasks/monitoring.yml


    - name: Configure static IP
      become: true
      ansible.builtin.copy:
        dest: /etc/network/interfaces.d/enx00e04c01156b
        content: |
          auto enx00e04c01156b
          allow-hotplug enx00e04c01156b
          iface enx00e04c01156b inet static
          address 192.168.2.11
          netmask 255.255.255.0
          gateway 192.168.2.1
          dns-nameservers 127.0.0.1
          dns-search middle-earth.internal
        owner: root
        group: admin
        mode: '0664'


  handlers:
    # It's important that Systemd reload is defined first here
    # https://docs.ansible.com/ansible/latest/user_guide/playbooks_handlers.html#controlling-when-handlers-run
    #
    # This might not be necessary though... still need to think this through
    - name: Systemd reload
      become: true
      ansible.builtin.systemd:
        daemon_reload: true


    - name: Reload sshd
      become: true
      ansible.builtin.service:
        name: sshd
        state: reloaded


    - name: Restart unbound
      become: true
      ansible.builtin.service:
        name: unbound
        state: restarted


    - name: Restart node_exporter
      become: true
      ansible.builtin.service:
        name: node_exporter
        state: restarted


    - name: Restart unbound_exporter
      become: true
      ansible.builtin.service:
        name: unbound_exporter
        state: restarted


    - name: Restart concourse-web
      become: true
      ansible.builtin.service:
        name: concourse-web
        state: restarted


    - name: Restart concourse-worker
      become: true
      ansible.builtin.service:
        name: concourse-worker
        state: restarted


    - name: Restart vault
      become: true
      ansible.builtin.service:
        name: vault
        state: restarted


    - name: Restart zot
      become: true
      ansible.builtin.service:
        name: zot
        state: restarted


    - name: Restart navidrome
      become: true
      ansible.builtin.service:
        name: navidrome
        state: restarted


    - name: Restart rsyslog
      become: true
      ansible.builtin.service:
        name: rsyslog
        state: restarted

# vim: ft=yaml.ansible
