- name: Setup device specific configuration
  hosts: pippin.middle-earth.internal.

  tasks:
    # I am uncertain if this belongs in the bootstrap, or in some overarching
    # task file pertaining to networking among other things. I don't know if it
    # really matters that much, but might as well start pondering it now.
    #
    # Turns out this is set when I created the installer image. So this resource
    # might be redundant.
    - name: Set hostname
      become: true
      ansible.builtin.hostname:
        name: pippin


    - name: Configure sysctls
      become: true
      ansible.posix.sysctl:
        name: "{{ item.name }}"
        value: "{{ item.value }}"
        state: present
      tags: [sysctls]
      loop:
        # https://linuxhint.com/understanding_vm_swappiness/
        - name: vm.swappiness
          value: '1'
        # Disable IPv6
        - name: net.ipv6.conf.all.disable_ipv6
          value: '1'
        - name: net.ipv6.conf.default.disable_ipv6
          value: '1'
        - name: net.ipv6.conf.lo.disable_ipv6
          value: '1'


# vim: ft=yaml.ansible
