- name: Installs and configures applications and services
  hosts: pippin.middle-earth.internal.

  tasks:
    - name: Install and dhcpd, dns, and network configuration
      tags: lanmanager
      ansible.builtin.include_tasks:
        file: ../tasks/lanmanager.yml
        apply:
          tags: lanmanager


    - name: Configure mounts
      tags: mounts
      ansible.builtin.include_tasks:
        file: ../tasks/mounts.yml
        apply:
          tags: mounts


    - name: Install webserver things
      tags: webserver
      ansible.builtin.include_tasks:
        file: ../tasks/webserver.yml
        apply:
          tags: webserver


    - name: Install monitoring
      tags: monitoring
      vars:
        prometheus_version: "2.55.1"
      ansible.builtin.include_tasks:
        file: ../tasks/monitoring.yml
        apply:
          tags: monitoring

  handlers:
    # It's important that Systemd reload is defined first here
    # https://docs.ansible.com/ansible/latest/user_guide/playbooks_handlers.html#controlling-when-handlers-run
    #
    # This might not be necessary though... still need to think this through
    - name: Systemd reload
      become: true
      ansible.builtin.systemd:
        daemon_reload: true


    - name: Restart dnsmasq
      become: true
      ansible.builtin.service:
        name: dnsmasq
        state: restarted


    - name: Restart nginx
      become: true
      ansible.builtin.service:
        name: nginx
        state: restarted


    - name: Restart prometheus
      become: true
      ansible.builtin.service:
        name: prometheus
        state: restarted


    - name: Restart grafana
      become: true
      ansible.builtin.service:
        name: grafana-server
        state: restarted


    - name: Restart dnsmasq_exporter
      become: true
      ansible.builtin.service:
        name: dnsmasq_exporter
        state: restarted


    - name: Restart loki
      become: true
      ansible.builtin.service:
        name: loki
        state: restarted


    - name: Restart promtail
      become: true
      ansible.builtin.service:
        name: promtail
        state: restarted
# vim: ft=yaml.ansible
