- name: Install Apt Keys
  become: true
  ansible.builtin.get_url:
    url: https://www.postgresql.org/media/keys/ACCC4CF8.asc
    dest: /usr/share/keyrings/postgres.asc
    owner: root
    group: root
    mode: "0644"


- name: Add Apt Repository
  become: true
  ansible.builtin.copy:
    dest: /etc/apt/sources.list.d/postgres.list
    owner: root
    group: root
    mode: "0644"
    content: |
      deb [signed-by=/usr/share/keyrings/postgres.asc] http://apt.postgresql.org/pub/repos/apt/ bookworm-pgdg main


# Inspired by https://github.com/troykinsella/ansible-concourse
- name: Install concourse dependencies
  become: true
  ansible.builtin.apt:
    update_cache: true
    pkg:
      - postgresql-13
      # Needed by the postgresql community module
      - python3-psycopg2
      # Needed to manage ACLs
      # https://docs.ansible.com/ansible/latest/user_guide/become.html#risks-and-limitations-of-become
      - acl
      # Things needed for containerd runtime
      - containerd
      - iptables


- name: Concourse user
  become: true
  ansible.builtin.user:
    name: concourse


- name: Application directory
  become: true
  ansible.builtin.file:
    path: /opt/concourse
    state: directory
    owner: concourse
    group: admin
    mode: '0775'


- name: Application versioned directory
  become: true
  ansible.builtin.file:
    path: "/opt/concourse/{{ concourse_version }}"
    state: directory
    owner: concourse
    group: admin
    mode: '0775'


- name: Download concourse
  become: true
  ansible.builtin.unarchive:
    src: "https://github.com/concourse/concourse/releases/download/v{{ concourse_version }}/concourse-{{ concourse_version }}-linux-amd64.tgz"
    remote_src: true
    dest: /opt/concourse/{{ concourse_version }}
    creates: /opt/concourse/{{ concourse_version }}/concourse


- name: Symlink current application version
  ansible.builtin.file:
    src: "/opt/concourse/{{ concourse_version }}"
    dest: "/opt/concourse/live"
    state: link
  notify:
    - Restart concourse-web
    - Restart concourse-worker


- name: Include secret variables
  ansible.builtin.include_vars:
    file: ../secrets/concourse.yml
    name: secrets


- name: Create DB
  become: true
  become_user: postgres
  community.postgresql.postgresql_db:
    name: concourse


- name: Create Concourse DB user
  become: true
  become_user: postgres
  community.postgresql.postgresql_user:
    login_db: "{{ secrets.concourse_db_database }}"
    user: "{{ secrets.concourse_db_username }}"
    password: "{{ secrets.concourse_db_password }}"


- name: Create concourse config home
  become: true
  ansible.builtin.file:
    path: /usr/local/concourse/etc
    state: directory
    owner: concourse
    group: admin
    mode: "0755"


- name: Create concourse worker workspace
  become: true
  ansible.builtin.file:
    path: /usr/local/concourse/worker
    state: directory
    owner: concourse
    group: admin
    mode: "0755"


- name: Create session signing key
  become: true
  become_user: concourse
  ansible.builtin.command:
    creates: /usr/local/concourse/etc/session_signing_key
    argv:
      - /opt/concourse/live/concourse/bin/concourse
      - generate-key
      - -t
      - rsa
      - -f
      - /usr/local/concourse/etc/session_signing_key


- name: Create session TSA host key
  become: true
  become_user: concourse
  ansible.builtin.command:
    creates: /usr/local/concourse/etc/tsa_host_key
    argv:
      - /opt/concourse/live/concourse/bin/concourse
      - generate-key
      - -t
      - ssh
      - -f
      - /usr/local/concourse/etc/tsa_host_key


- name: Create session worker key
  become: true
  become_user: concourse
  ansible.builtin.command:
    creates: /usr/local/concourse/etc/worker_key
    argv:
      - /opt/concourse/live/concourse/bin/concourse
      - generate-key
      - -t
      - ssh
      - -f
      - /usr/local/concourse/etc/worker_key


- name: Set authorized_worker_keys
  become: true
  become_user: concourse
  ansible.builtin.copy:
    src: /usr/local/concourse/etc/worker_key.pub
    dest: /usr/local/concourse/etc/authorized_worker_keys
    remote_src: true
    owner: concourse
    group: concourse
    mode: "0644"


- name: create web launch script
  become: true
  become_user: concourse
  ansible.builtin.copy:
    dest: /usr/local/concourse/start.sh
    owner: "concourse"
    mode: "0755"
    content: |
      #!/usr/bin/env bash
      exec /opt/concourse/live/concourse/bin/concourse web \
        --log-level "error" \
        --session-signing-key "/usr/local/concourse/etc/session_signing_key" \
        --tsa-host-key "/usr/local/concourse/etc/tsa_host_key" \
        --tsa-authorized-keys "/usr/local/concourse/etc/authorized_worker_keys" \
        --external-url "https://concourse.scottmuc.com/" \
        --postgres-socket "/var/run/postgresql" \
        --postgres-database "{{ secrets.concourse_db_database }}" \
        --vault-path-prefix "/concourse" \
        --vault-auth-backend token \
        --vault-client-token "{{ secrets.concourse_vault_client_token }}" \
        --vault-url https://localhost:8200 \
        --vault-insecure-skip-verify \
        --github-client-id Ov23liDtqVCxdBm22fZ7 \
        --github-client-secret "{{ secrets.concourse_github_oauth_token }}" \
        --main-team-local-user "{{ secrets.concourse_admin_username }}" \
        {% for user in secrets.concourse_local_users %}
        --add-local-user "{{ user }}" \
        {% endfor %}
        ;
  notify:
    - Restart concourse-web

- name: create web worker launch script
  become: true
  become_user: concourse
  ansible.builtin.copy:
    dest: /usr/local/concourse/worker.sh
    owner: "concourse"
    mode: "0755"
    content: |
      #!/usr/bin/env bash

      exec /opt/concourse/live/concourse/bin/concourse worker \
        --runtime containerd \
        --containerd-dns-server="9.9.9.9" \
        --log-level "error" \
        --tsa-host "127.0.0.1:2222" \
        --tsa-public-key "/usr/local/concourse/etc/tsa_host_key.pub" \
        --tsa-worker-private-key "/usr/local/concourse/etc/worker_key" \
        --work-dir "/usr/local/concourse/worker" \
        ;
  notify:
    - Restart concourse-worker

- name: create web service
  become: true
  ansible.builtin.copy:
    dest: /etc/systemd/system/concourse-web.service
    force: true
    owner: root
    group: admin
    mode: "0664"
    content: |
      [Unit]
      Description=concourse-web
      Requires=network-online.target
      After=network-online.target

      [Service]
      User=concourse
      TasksMax=infinity
      LimitNOFILE=infinity
      LimitMEMLOCK=infinity
      Restart=on-failure
      ExecStart=/usr/local/concourse/start.sh
      ExecReload=/bin/kill -HUP $MAINPID
      KillSignal=SIGTERM

      [Install]
      WantedBy=multi-user.target
  notify:
    - Restart concourse-web


- name: create worker service
  become: true
  ansible.builtin.copy:
    dest: /etc/systemd/system/concourse-worker.service
    force: true
    owner: root
    group: admin
    mode: "0664"
    content: |
      [Unit]
      Description=concourse-worker
      Requires=network-online.target
      After=network-online.target

      [Service]
      TasksMax=infinity
      LimitNOFILE=infinity
      LimitMEMLOCK=infinity
      Restart=on-failure
      ExecStart=/usr/local/concourse/worker.sh
      ExecReload=/bin/kill -HUP $MAINPID
      KillSignal=SIGTERM

      [Install]
      WantedBy=multi-user.target
  notify:
    - Restart concourse-worker


- name: systemd daemon reload
  ansible.builtin.systemd:
    daemon_reload: true
  become: true

- name: configure web service
  ansible.builtin.service:
    name: concourse-web
    enabled: true
  become: true

- name: start web service
  ansible.builtin.service:
    name: concourse-web
    state: started
  become: true

- name: configure worker service
  ansible.builtin.service:
    name: concourse-worker
    enabled: true
  become: true

- name: start worker service
  ansible.builtin.service:
    name: concourse-worker
    state: started
  become: true

# vim: ft=yaml.ansible
