  # https://www.man7.org/linux/man-pages/man5/logind.conf.5.html
- name: Disable suspend on laptop lid close
  become: true
  ansible.builtin.copy:
    content: |
      # This file is managed via ansible
      [Login]
      HandleLidSwitch=ignore
      HandleLidSwitchExternalPower=ignore
    dest: /etc/systemd/logind.conf
    owner: root
    group: root
    mode: '0664'
  notify:
    - Systemd reload


# https://wiki.archlinux.org/title/Backlight
# https://www.kernel.org/doc/Documentation/ABI/testing/sysfs-class-backlight
- name: Get current screen brightness
  ansible.builtin.command: cat /sys/class/backlight/intel_backlight/brightness
  register: current_brightness
  changed_when: false


# noqa: risky-shell-pipe
# noqa: no-changed-when
- name: Turn off backlight if brightness is not already 0
  become: true
  when: current_brightness.stdout != "0"
  ansible.builtin.shell: |
    echo 0 | tee /sys/class/backlight/intel_backlight/brightness

# vim: ft=yaml.ansible
