# I'm using a USB/ethernet adapter and the interface name is stable because
# it's following the structure enx + mac address
# https://superuser.com/questions/1431018/network-interface-names-via-udev-for-usb-nics
- name: Setup static IP
  become: true
  ansible.builtin.copy:
    dest: /etc/network/interfaces.d/enx00e04c01156b
    owner: root
    group: admin
    mode: '0664'
    content: |
      auto enx00e04c01156b
      allow-hotplug enx00e04c01156b
      iface enx00e04c01156b inet static
      address 192.168.2.11
      netmask 255.255.255.0
      gateway 192.168.2.1
      dns-nameservers 127.0.0.1
      dns-search middle-earth.internal


# vim: ft=yaml.ansible
