- name: Install zot compile time dependencies
  become: true
  apt:
    update_cache: true
    pkg:
      - curl
      - make
      - nodejs


- name: Create zot user
  become: true
  ansible.builtin.user:
    name: zot
    system: true
    state: present


- name: Zot application directory
  become: true
  ansible.builtin.file:
    path: /opt/zot
    state: directory
    owner: root
    group: admin
    mode: '0775'


- name: Download golang
  ansible.builtin.unarchive:
    src: "https://go.dev/dl/go1.22.4.linux-amd64.tar.gz"
    remote_src: true
    dest: "/opt/zot/"
    creates: "/opt/zot/go/bin/go"


- name: Clone zot
  ansible.builtin.command:
    argv:
      - git
      - clone
      - https://github.com/project-zot/zot.git
      - /opt/zot/src
    creates: "/opt/zot/src"


# https://zotregistry.dev/v2.1.7/admin-guide/admin-getting-started/#building-an-executable-binary-from-source
- name: Build
  environment:
    OS: "linux"
    ARCH: "amd64"
    PATH: "/opt/zot/go/bin:{{ ansible_facts['env'].PATH }}"
  ansible.builtin.command:
    chdir: "/opt/zot/src"
    argv:
      - make
      - binary
    creates: "/opt/zot/src/bin/zot-linux-amd64"


- name: Zot bin dir
  ansible.builtin.file:
    path: /opt/zot/bin
    state: directory


- name: Zot tmp dir
  become: true
  ansible.builtin.file:
    path: /opt/zot/tmp
    state: directory
    owner: zot
    group: admin
    mode: '0775'


- name: Install zot binary
  ansible.builtin.copy:
    remote_src: True
    src: /opt/zot/src/bin/zot-linux-amd64
    dest: /opt/zot/bin/zot
    mode: '0775'


# https://zotregistry.dev/v2.1.7/admin-guide/admin-configuration/#setting-user-preferences
- name: Configure zot
  become: true
  ansible.builtin.copy:
    dest: /opt/zot/config.json
    mode: '0664'
    content: |
      {
        "distSpecVersion": "1.0.1",
        "storage": {
            "rootDirectory": "/opt/zot/tmp"
        },
        "http": {
            "address": "0.0.0.0",
            "port": "8081"
        },
        "log": {
            "level": "debug"
        },
        "extensions": {
          "ui": {
            "enable": true
          },
          "search": {
            "enable": true,
            "cve": {
              "updateInterval": "2h"
            }
          }
        }
      }
  notify:
    - Restart zot


- name: Install service
  become: true
  ansible.builtin.copy:
    dest: /etc/systemd/system/zot.service
    owner: root
    group: admin
    mode: '0664'
    content: |
      [Unit]
      Description=Zot
      After=network.target

      [Service]
      User=zot
      Group=root
      Type=simple
      ExecStart=/opt/zot/bin/zot serve /opt/zot/config.json

      [Install]
      WantedBy=multi-user.target

  notify:
    - Restart zot
    - Systemd reload


- name: Ensure zot is running
  become: true
  ansible.builtin.service:
    name: zot
    state: started
    enabled: true

# vim: ft=yaml.ansible
