global:
  scrape_interval: 60s
  scrape_timeout: 10s
  evaluation_interval: 15s

alerting:
  alertmanagers:
    - static_configs:
        - targets: []
      scheme: http
      timeout: 10s
      api_version: v1

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets:
          - pippin:9090

  - job_name: node_exporter
    static_configs:
      - targets:
          - pippin:9100
          - merry:9100
          - erebor:9100

  - job_name: navidrome
    metrics_path: /music/metrics
    static_configs:
      - targets:
        - merry:4533

  - job_name: unbound
    static_configs:
      - targets:
          - pippin:9167
          - merry:9167

  - job_name: dnsmasq
    static_configs:
      - targets:
          - pippin:9153
