- name: Install dnsmasq package
  ansible.builtin.apt:
    name: dnsmasq

- name: Configure dnsmasq
  ansible.builtin.copy:
    src: root/etc/dnsmasq.conf
    dest: /etc/dnsmasq.conf
    owner: root
    group: admin
    mode: '0664'
  notify:
    - Restart dnsmasq


- name: Ensure dnsmasq service is started
  ansible.builtin.service:
    name: dnsmasq
    state: started
    enabled: true

# vim: ft=yaml.ansible
