# It's important that this happens before installing dnsmasq, otherwise it'll
# start running with the default configuration which has port collisions with
# unbound.
- name: Configure dnsmasq
  become: true
  ansible.builtin.copy:
    src: root/etc/dnsmasq.conf
    dest: /etc/dnsmasq.conf
    owner: root
    group: admin
    mode: '0664'
  notify:
    - Restart dnsmasq


- name: Install dnsmasq
  become: true
  ansible.builtin.apt:
    pkg:
      - dnsmasq


- name: Ensure dnsmasq service is started
  become: true
  ansible.builtin.service:
    name: dnsmasq
    state: started
    enabled: true


- name: Ensure avahi-daemon and isc-dhcp-client are not installed
  become: true
  ansible.builtin.apt:
    pkg:
      - avahi-daemon
      - isc-dhcp-client
    state: absent


- name: Ensure ifupdown installed so /etc/network/interfaces.d exists
  become: true
  ansible.builtin.apt:
    pkg:
      - ifupdown


- name: Setup static IP
  become: true
  ansible.builtin.copy:
    dest: /etc/network/interfaces.d/eth0
    owner: root
    group: admin
    mode: '0664'
    content: |
      auto eth0
      allow-hotplug eth0
      iface eth0 inet static
      address 192.168.2.10
      netmask 255.255.255.0
      gateway 192.168.2.1
      dns-nameservers 127.0.0.1
      dns-search middle-earth.internal


- name: Install /etc/resolv.conf
  become: true
  ansible.builtin.copy:
    dest: /etc/resolv.conf
    owner: root
    group: root
    mode: '0644'
    content: |
      search middle-earth.internal
      nameserver 127.0.0.1
  notify:
    - Restart dnsmasq


- name: Install /etc/hosts
  become: true
  ansible.builtin.copy:
    dest: /etc/hosts
    owner: root
    group: root
    mode: '0644'
    content: |
      127.0.0.1     localhost
      192.168.2.10  pippin.middle-earth.internal  pippin
      192.168.2.11  merry.middle-earth.internal   merry
      192.168.2.19  erebor.middle-earth.internal  erebor
      192.168.2.20  gandalf.middle-earth.internal gandalf
  notify:
    - Restart dnsmasq

# vim: ft=yaml.ansible
