- name: Install prometheus
  vars:
    version: "{{ prometheus_version }}"
    arch: "{{ prometheus_arch }}"
  ansible.builtin.include_tasks:
    file: ../tasks/prometheus.yml


- name: Install dnsmasq exporter
  ansible.builtin.include_tasks:
    file: ../tasks/dnsmasq_exporter.yml


- name: Install grafana
  ansible.builtin.include_tasks:
    file: ../tasks/grafana.yml


- name: Install loki and promtail
  ansible.builtin.include_tasks:
    file: ../tasks/loki.yml


# vim: ft=yaml.ansible
