- name: Navidrome user
  ansible.builtin.user:
    name: navidrome
    comment: Service account for navidrome process
    system: true


- name: Navidrome application directory
  ansible.builtin.file:
    path: /opt/navidrome
    state: directory
    owner: navidrome
    group: root
    mode: '0775'


- name: Navidrome versioned directory
  ansible.builtin.file:
    path: "/opt/navidrome/{{ navidrome_version }}"
    state: directory
    owner: navidrome
    group: root
    mode: '0775'


- name: Download navidrome
  ansible.builtin.unarchive:
    src: "https://github.com/navidrome/navidrome/releases/download/v{{ navidrome_version }}/navidrome_{{ navidrome_version }}_Linux_armv7.tar.gz"
    remote_src: true
    dest: "/opt/navidrome/{{ navidrome_version }}"
    creates: "/opt/navidrome/{{ navidrome_version }}/navidrome"


- name: Symlink current navidrome version
  ansible.builtin.file:
    src: "/opt/navidrome/{{ navidrome_version }}"
    dest: "/opt/navidrome/live"
    state: link
    owner: navidrome
    group: root
    mode: '0775'
  notify:
    - Restart navidrome


- name: ffmpeg directory
  ansible.builtin.file:
    path: /opt/navidrome/ffmpeg
    state: directory
    owner: navidrome
    group: root
    mode: '0775'


- name: Download ffmpeg
  ansible.builtin.unarchive:
    src: https://johnvansickle.com/ffmpeg/releases/ffmpeg-release-armhf-static.tar.xz
    remote_src: true
    dest: /opt/navidrome/ffmpeg
    creates: /opt/navidrome/ffmpeg/ffmpeg
    extra_opts:
      - --strip-components=1


- name: Install navidrome configuration
  ansible.builtin.copy:
    src: root/opt/navidrome/navidrome.toml
    dest: /opt/navidrome/navidrome.toml
    owner: navidrome
    group: root
    mode: '0444'
  notify:
    - Restart navidrome


- name: Install navidrome service
  ansible.builtin.copy:
    src: root/etc/systemd/system/navidrome.service
    dest: /etc/systemd/system/navidrome.service
    owner: root
    group: admin
    mode: '0644'
  notify:
    - Restart navidrome
    - Systemd reload


- name: Ensure navidrome is running
  ansible.builtin.service:
    name: navidrome
    state: started
    enabled: true
# vim: ft=yaml.ansible
