- name: Node exporter application directory
  ansible.builtin.file:
    path: /opt/node_exporter
    state: directory
    owner: prometheus
    group: root
    mode: '0775'


- name: Node exporter versioned directory
  ansible.builtin.file:
    path: "/opt/node_exporter/{{ version }}"
    state: directory
    owner: prometheus
    group: root
    mode: '0775'


- name: Download node exporter
  ansible.builtin.unarchive:
    src: "https://github.com/prometheus/node_exporter/releases/download/v{{ version }}/node_exporter-{{ version }}.linux-armv7.tar.gz"
    remote_src: true
    dest: "/opt/node_exporter/{{ version }}"
    creates: "/opt/node_exporter/{{ version }}/node_exporter"
    extra_opts:
      - "--strip-components=1"


- name: Symlink current node exporter version
  ansible.builtin.file:
    src: "/opt/node_exporter/{{ version }}"
    dest: "/opt/node_exporter/live"
    state: link
  notify:
    - Restart node_exporter


- name: Install node exporter service
  ansible.builtin.copy:
    src: root/etc/systemd/system/node_exporter.service
    dest: /etc/systemd/system/node_exporter.service
    owner: root
    group: admin
    mode: '0664'
  notify:
    - Restart node_exporter
    - Systemd reload


- name: Ensure node exporter is running
  ansible.builtin.service:
    name: node_exporter
    state: started
    enabled: true

# vim: ft=yaml.ansible
