- name: Prometheus user
  ansible.builtin.user:
    name: prometheus
    comment: Service account for prometheus process
    system: true


- name: Prometheus application directory
  ansible.builtin.file:
    path: /opt/prometheus
    state: directory
    owner: prometheus
    group: root
    mode: '0775'


- name: Prometheus versioned directory
  ansible.builtin.file:
    path: "/opt/prometheus/{{ prometheus_version }}"
    state: directory
    owner: prometheus
    group: root
    mode: '0775'


- name: Download prometheus
  ansible.builtin.unarchive:
    src: "https://github.com/prometheus/prometheus/releases/download/v{{ prometheus_version }}/prometheus-{{ prometheus_version }}.linux-armv7.tar.gz"
    remote_src: true
    dest: "/opt/prometheus/{{ prometheus_version }}"
    creates: "/opt/prometheus/{{ prometheus_version }}/prometheus"
    extra_opts:
      - "--strip-components=1"


- name: Symlink current prometheus version
  ansible.builtin.file:
    src: "/opt/prometheus/{{ prometheus_version }}"
    dest: "/opt/prometheus/live"
    state: link
  notify:
    - Restart prometheus


- name: Install prometheus configuration
  ansible.builtin.copy:
    src: root/opt/prometheus/prometheus.yml
    dest: /opt/prometheus/prometheus.yml
    owner: prometheus
    group: root
    mode: '0660'
  notify:
    - Restart prometheus


- name: Install prometheus service
  ansible.builtin.copy:
    src: root/etc/systemd/system/prometheus.service
    dest: /etc/systemd/system/prometheus.service
    owner: root
    group: admin
    mode: '0664'
  notify:
    - Restart prometheus
    - Systemd reload

# We can triger restart handlers that fail to start the service
# https://stackoverflow.com/questions/37843998/how-to-stop-ansible-from-starting-then-restarting-a-service
- name: Ensure prometheus is running
  ansible.builtin.service:
    name: prometheus
    state: started
    enabled: true

# vim: ft=yaml.ansible
