[Unit]
Description=Prometheus
After=remote-fs.target network.target
AssertPathExists=/opt/prometheus

[Install]
WantedBy=multi-user.target

[Service]
User=prometheus
Group=root
Type=simple
ExecStart=/opt/prometheus/live/prometheus \
  --storage.tsdb.path=/mnt/usb/prometheus \
  --config.file=/opt/prometheus/prometheus.yml \
  --web.external-url=https://home.scottmuc.com/prometheus/
WorkingDirectory=/opt/prometheus
TimeoutStopSec=20
KillMode=process
Restart=on-failure

# See https://www.freedesktop.org/software/systemd/man/systemd.exec.html
DevicePolicy=closed
NoNewPrivileges=yes
PrivateTmp=yes
PrivateUsers=yes
ProtectControlGroups=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
RestrictNamespaces=yes
RestrictRealtime=yes
SystemCallFilter=~@clock @debug @module @mount @obsolete @privileged @reboot @setuid @swap
ReadWritePaths=/mnt/usb/prometheus
ProtectSystem=strict
ProtectHome=true
