[Unit]
Description=Node Exporter
After=network.target

[Service]
User=prometheus
Group=root
Type=simple
ExecStart=/opt/node_exporter/live/node_exporter

[Install]
WantedBy=multi-user.target
