# 1password CLI directory contains secrets
dotfiles/dot.config/op

# This is created my the bootstrap script
dotfiles/dot.config/osx-homedir/.softwareupdate_indicator
dotfiles/dot.config/osx-homedir/birthdate

# Location of deep-pockets data
dotfiles/dot.config/deep-pockets

# Ignore gcloud credentials
dotfiles/dot.config/gcloud
