---
- hosts: linux
  gather_facts: yes

  tasks:
    - name: Install unbound
      become: true
      ansible.builtin.apt:
        pkg:
          - unbound


    - name: Setup unbound log directory
      become: true
      ansible.builtin.file:
        path: /var/log/unbound
        state: directory
        owner: unbound
        group: unbound
        mode: '0775'


    - name: Configure logrotate for unbound
      become: true
      ansible.builtin.copy:
        dest: /etc/logrotate.d/unbound
        owner: root
        group: root
        mode: '0644'
        content: |
          /var/log/unbound/*.log {
            weekly
            rotate 7
            missingok
            notifempty
            compress
            delaycompress
            sharedscripts
            create 644
            postrotate
              /usr/sbin/unbound-control log_reopen
            endscript
          }


    - name: Configure unbound
      become: true
      ansible.builtin.copy:
        dest: /etc/unbound/unbound.conf.d/pi-hole-replacement.conf
        owner: root
        group: root
        mode: '0664'
        content: |
          # https://unbound.docs.nlnetlabs.nl/en/latest/manpages/unbound.conf.html
          server:
            interface: 0.0.0.0
            access-control: 192.168.2.0/24 allow
            do-ip6: no
            include: /etc/unbound/blocklist.conf

            # Disable syslog when logging queries to not use all my papertrail quota
            use-syslog: no
            verbosity: 0
            log-queries: yes
            log-replies: yes
            log-tag-queryreply: yes
            log-local-actions: yes
            logfile: /var/log/unbound/unbound.log

            # https://blog.josefsson.org/2015/10/26/combining-dnsmasq-and-unbound/#comment-1399545
            # ^^^ this comment from nearly 10 years ago really helped me figure all this out!

            # The two lines below allow unbound to return private IPs and to ignore
            # the DNSSEC chain of trust for middle-earth.internal.
            private-domain: "middle-earth.internal."
            domain-insecure: "middle-earth.internal."

            private-domain: "2.168.192.in-addr.arpa."
            domain-insecure: "2.168.192.in-addr.arpa."
            local-zone: "2.168.192.in-addr.arpa." transparent

            # All queries related to my LAN's private domain should be forwared
            # to the dnsmasq resolver.
            forward-zone:
              name: "middle-earth.internal."
              forward-addr: 192.168.2.10@5353

            forward-zone:
              name: "2.168.192.in-addr.arpa."
              forward-addr: 192.168.2.10@5353
      notify:
        - Restart unbound


    - name: Serve private IP for public websites
      become: true
      ansible.builtin.copy:
        dest: /etc/unbound/unbound.conf.d/local-websites.conf
        owner: root
        group: root
        mode: '0664'
        content: |
          server:
            local-data: "home.scottmuc.com.        IN    A   192.168.2.10"
            local-data: "concourse.scottmuc.com.   IN    A   192.168.2.10"
            local-data: "zot.scottmuc.com.         IN    A   192.168.2.10"
      notify:
        - Restart unbound


    - name: Serve erebor's IP for git.scottmuc.com
      become: true
      ansible.builtin.copy:
        dest: /etc/unbound/unbound.conf.d/git.scottmuc.com.conf
        owner: root
        group: root
        mode: '0664'
        content: |
          server:
            local-data: "git.scottmuc.com.   IN    A   192.168.2.19"
      notify:
        - Restart unbound


    - name: Add blocklist
      become: true
      ansible.builtin.get_url:
        dest: /etc/unbound/blocklist.conf
        owner: root
        group: root
        mode: '0664'
        url: https://raw.githubusercontent.com/scottmuc/dns-zone-blocklist/main/unbound/unbound.blocklist
      notify:
        - Restart unbound


    - name: Ensure unbound is running
      become: true
      ansible.builtin.service:
        name: unbound
        state: started
        enabled: true


    - name: Unbound exporter application directory
      become: true
      ansible.builtin.file:
        path: /opt/unbound_exporter
        state: directory
        owner: root
        group: admin
        mode: '0775'


    # TODO: extract golang version and architecture
    - name: Download golang
      ansible.builtin.unarchive:
        src: "https://go.dev/dl/go1.22.4.linux-{{ golang_arch }}.tar.gz"
        remote_src: true
        dest: "/opt/unbound_exporter/"
        creates: "/opt/unbound_exporter/go/bin/go"


    # TODO: extract release version
    - name: Compile unbound_exporter
      environment:
        GOPATH: "/opt/unbound_exporter/go"
      ansible.builtin.command:
        argv:
          - /opt/unbound_exporter/go/bin/go
          - install
          - github.com/letsencrypt/unbound_exporter@latest
        creates: "/opt/unbound_exporter/go/bin/unbound_exporter"


    - name: Configure unbound remote-control
      become: true
      ansible.builtin.copy:
        dest: /etc/unbound/unbound.conf.d/exporter.conf
        owner: root
        group: root
        mode: '0664'
        content: |
          remote-control:
            control-enable: yes
            control-interface: /run/unbound.ctl
          server:
            extended-statistics: yes
      notify:
        - Restart unbound


    - name: Install exporter service
      become: true
      ansible.builtin.copy:
        dest: /etc/systemd/system/unbound_exporter.service
        owner: root
        group: admin
        mode: '0664'
        content: |
          [Unit]
          Description=Unbound Exporter
          After=network.target
          AssertPathExists=/opt/unbound_exporter

          [Install]
          WantedBy=multi-user.target

          [Service]
          User=prometheus
          Group=unbound
          Type=simple
          ExecStart=/opt/unbound_exporter/go/bin/unbound_exporter \
            -unbound.ca "" \
            -unbound.cert "" \
            -unbound.host "unix:///run/unbound.ctl"
      notify:
        - Restart unbound_exporter
        - Systemd reload


    - name: Ensure exporter is running
      become: true
      ansible.builtin.service:
        name: unbound_exporter
        state: started
        enabled: true

  handlers:
    - name: Systemd reload
      become: true
      ansible.builtin.systemd:
        daemon_reload: true

    - name: Restart unbound
      become: true
      ansible.builtin.service:
        name: unbound
        state: restarted

    - name: Restart unbound_exporter
      become: true
      ansible.builtin.service:
        name: unbound_exporter
        state: restarted

# vim: ft=yaml.ansible
